.custom-text-editor {
    width: 100%;
    background-color: white;
    color: black;
}

.image-upload-container,
.switch-container {
    display: flex;
}

.label-container {
    flex-basis: 200px;
    padding-right: 10px;
}

.file-upload-container,
.switch-input-container {
    flex-grow: 1;
}
