<div class="card">
    <app-lazy-table
        tableTitle="Danh sách các dịch vụ liên kết"
        [tableData]="data"
        [rows]="rows"
        [columns]="8"
        [first]="first"
        [totalRecords]="totalRecords"
        [loading]="loading"
        dataKey="id"
        (onLazyLoad)="loadTable($event)"
    >
        <ng-template #buttons>
            <app-button
                iocVariant="create"
                permissionCode="create-affiliated-service-list"
                (onClick)="handleAdd()"
            ></app-button>
        </ng-template>

        <ng-template #header>
            <tr>
                <th style="min-width: 3rem" class="text-center">STT</th>
                <th style="min-width: 12rem">Tên hệ thống</th>
                <th style="min-width: 14rem">Đường dẫn</th>
                <th style="min-width: 10rem">Đơn vị hành chính</th>
                <th style="min-width: 12rem">Trạng thái</th>
                <th style="min-width: 8rem" class="text-center">Thao tác</th>
            </tr>
            <tr>
                <th class="border-top-none"></th>
                <th class="border-top-none">
                    <app-input
                        [autofocus]="true"
                        [value]="searchText"
                        maxLength="255"
                        placeholder="Tên hệ thống"
                        (onChange)="handleInputChange($event)"
                        iconClass="ti ti-search"
                        class="w-full"
                    />
                </th>
                <th class="border-top-none"></th>
                <th class="border-top-none">
                    <app-au-tree-select
                        [showLabel]="false"
                        [hasFilter]="true"
                        [administrativeUnit]="administrativeUnitF"
                        (onChange)="handleAUFilterChange($event)"
                    ></app-au-tree-select>
                </th>
                <th class="border-top-none"></th>
                <th class="border-top-none"></th>
            </tr>
        </ng-template>
        <ng-template #body let-data let-rowIndex="rowIndex">
            <tr>
                <td class="text-center">{{ rowIndex + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.link }}</td>
                <td>{{ getAUColumn(data) }}</td>
                <td>
                    @if (data?.statusId == "1" && data?.statusConnect == "0") {
                        <i
                            class="ti ti-circle-filled mr-1"
                            style="font-size: 1rem"
                        ></i>
                        Mất kết nối
                    }
                    @if (data?.statusId == "1" && data?.statusConnect == "1") {
                        <i
                            class="ti ti-circle-filled mr-1"
                            style="font-size: 1rem; color: #28a745"
                        ></i>
                        Đang kết nối
                    }
                    @if (data?.statusId == "0") {
                        <i
                            class="ti ti-circle-filled mr-1"
                            style="font-size: 1rem"
                        ></i>
                        Không kết nối
                    }
                </td>
                <td>
                    <div
                        class="flex gap-2 justify-content-center align-items-center"
                    >
                        <app-button
                            iocVariant="iview"
                            (onClick)="handleViewDetail(data)"
                        ></app-button>
                        <app-button
                            iocVariant="iupdate"
                            (onClick)="handleUpdate(data)"
                            permissionCode="update-affiliated-service-list"
                        ></app-button>
                        <app-button
                            iocVariant="idelete"
                            (onClick)="handleConfirmDelete(data)"
                            permissionCode="delete-affiliated-service-list"
                        ></app-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </app-lazy-table>
</div>

<app-dialog [(visible)]="showDialog" (onHide)="resetDialog()">
    <ng-template #header>
        <span class="text-xl font-bold text-center w-full">
            {{ dialogTitle }}
        </span>
    </ng-template>
    <ng-template #content>
        <div class="grid">
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    [autofocus]="true"
                    label="Tên hệ thống tích hợp"
                    [value]="systemName"
                    maxLength="255"
                    [required]="true"
                    [error]="errorSystemName"
                    (onChange)="handleSystemNameChange($event)"
                ></app-input>
            </div>
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    label="Đường dẫn"
                    [value]="link"
                    [required]="true"
                    maxLength="255"
                    [error]="errorLink"
                    (onChange)="handleLinkChange($event)"
                ></app-input>
            </div>
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    label="Tên tài khoản"
                    [value]="accountName"
                    maxLength="255"
                    [error]="errorAccountName"
                    (onChange)="handleAccountNameChange($event)"
                ></app-input>
            </div>
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    label="Mật khẩu"
                    [value]="password"
                    maxLength="255"
                    [error]="errorPassword"
                    (onChange)="handlePasswordChange($event)"
                ></app-input>
            </div>
            <div class="col-12 md:col-6">
                <app-input-number
                    label="Thời gian làm mới (ms)"
                    [value]="refreshTime"
                    maxLength="10"
                    [error]="errorRefreshTime"
                    (onChange)="handleRefreshTimeChange($event)"
                ></app-input-number>
            </div>
            <div class="col-12 md:col-6">
                <app-au-tree-select
                    [required]="true"
                    [(administrativeUnit)]="administrativeUnit"
                    [codes]="auCodes"
                    [errorAdministrativeUnit]="errorAdministrativeUnit"
                    (onChange)="handleAdministrativeUnitChange($event)"
                ></app-au-tree-select>
            </div>
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    label="Key"
                    [value]="key"
                    maxLength="255"
                    (onChange)="handleKeyChange($event)"
                ></app-input>
            </div>
            <div class="col-12 md:col-6">
                <app-select
                    label="Loại hệ thống"
                    [options]="systemTypes"
                    [selectedOption]="selectedSystemType"
                    optionLabel="label"
                    [error]="errorSystemType"
                    (onChange)="handleSystemTypeChange($event)"
                    placeholder="Chọn hệ thống"
                ></app-select>
            </div>
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    label="Client ID"
                    [value]="clientId"
                    maxLength="255"
                    (onChange)="handleClientIdChange($event)"
                ></app-input>
            </div>
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    label="Client Secret"
                    [value]="clientSecret"
                    maxLength="255"
                    (onChange)="handleClientSecretChange($event)"
                ></app-input>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <div class="flex justify-content-center gap-2">
            <app-button
                iocVariant="close"
                (onClick)="showDialog = false"
            ></app-button>
            <app-button
                [iocVariant]="
                    dialogTitle === 'Cập nhật dịch vụ liên kết'
                        ? 'update'
                        : 'create'
                "
                (onClick)="handleServiceForm()"
                [loading]="dialogLoading"
            ></app-button>
        </div>
    </ng-template>
</app-dialog>

<app-dialog [(visible)]="showDialogDetail">
    <ng-template #header>
        <span class="text-xl font-bold text-center w-full">
            Chi tiết dịch vụ liên kết
        </span>
    </ng-template>
    <ng-template #content>
        <div class="grid">
            <div class="col-12 md:col-6">
                <app-label label="Tên hệ thống tích hợp">
                    <b>{{ detailData.name | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Đường dẫn">
                    <b>{{ detailData.link | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Tên tài khoản">
                    <b>{{ detailData.username | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Mật khẩu">
                    <b>{{ detailData.password | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Thời gian làm mới (ms)">
                    <b>{{ detailData.refreshTime | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Đơn vị hành chính">
                    <b>{{ getAUColumn(detailData) | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Key">
                    <b>{{ detailData.key | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Loại hệ thống">
                    <b>{{ detailData.systemTypeName | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Client ID">
                    <b>{{ detailData.clientId | dataValidator }}</b>
                </app-label>
            </div>
            <div class="col-12 md:col-6">
                <app-label label="Client Secret">
                    <b>{{ detailData.clientSecret | dataValidator }}</b>
                </app-label>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <div class="flex justify-content-center gap-2">
            <app-button
                iocVariant="close"
                [autofocus]="true"
                (onClick)="showDialogDetail = false"
            ></app-button>
        </div>
    </ng-template>
</app-dialog>
