<div class="card">
    <app-lazy-table
        tableTitle="Danh sách cấu hình hiển thị dịch vụ"
        [tableData]="data"
        [rows]="rows"
        [columns]="5"
        [first]="first"
        [totalRecords]="totalRecords"
        [loading]="loading"
        dataKey="id"
        (onLazyLoad)="loadTable($event)"
    >
        <ng-template #buttons>
            <app-button
                iocVariant="create"
                (onClick)="handleCreate()"
                permissionCode="create-service-config"
            ></app-button>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 1rem" class="text-center">STT</th>
                <th style="min-width: 6rem">Tên cấu hình</th>
                <th style="min-width: 12rem">Danh sách dịch vụ</th>
                <th style="min-width: 12rem" class="text-right">
                    Số lượng phòng ban
                </th>
                <th style="min-width: 8rem" class="text-center">Thao tác</th>
            </tr>
            <tr>
                <th class="border-top-none"></th>
                <th class="border-top-none">
                    <app-input
                        [autofocus]="true"
                        [value]="searchText"
                        maxLength="255"
                        placeholder="Tìm kiếm"
                        (onChange)="handleInputChange($event)"
                        iconClass="ti ti-search"
                        class="w-full"
                    />
                </th>
                <th class="border-top-none">
                    <app-select
                        [selectedOption]="service"
                        [options]="services"
                        (onChange)="handleServiceFilterChange($event)"
                        [hasFilter]="true"
                    >
                    </app-select>
                </th>
                <th class="border-top-none"></th>
                <th class="border-top-none"></th>
            </tr>
        </ng-template>
        <ng-template #body let-data let-rowIndex="rowIndex">
            <tr>
                <td class="text-center">{{ rowIndex + 1 }}</td>
                <td>{{ data?.configName }}</td>
                <td>
                    @for (
                        dashboard of data?.dashboards;
                        track dashboard;
                        let i = $index
                    ) {
                        @if (dashboard?.name) {
                            <i
                                class="ti ti-circle-filled mr-1"
                                style="font-size: 0.5rem"
                            ></i>
                        }
                        {{ dashboard?.name }}<br />
                    }
                </td>
                <td class="text-right">
                    {{ data?.agencies.length }}
                </td>
                <td>
                    <div
                        class="flex gap-2 justify-content-center align-items-center"
                    >
                        <app-button
                            iocVariant="iview"
                            (onClick)="watchDashboardConfig(data?.id)"
                            permissionCode="detail-service-config"
                        ></app-button>
                        <app-button
                            iocVariant="iupdate"
                            (onClick)="updateDashboardConfig(data?.id)"
                            permissionCode="update-service-config"
                        ></app-button>
                        <app-button
                            iocVariant="idelete"
                            (onClick)="confirmDelete(data)"
                            permissionCode="delete-service-config"
                        ></app-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </app-lazy-table>
</div>
