:host {
    ::ng-deep {
        .p-card {
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
            box-shadow: var(--card-shadow);
            border: 1px solid var(--surface-border);

            .p-card-content {
                padding: 0;
            }
            .p-card-body {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
            }
        }
        .p-card:hover {
            transform: scale(1.01);
        }
    }
}
