<div class="card">
    <app-lazy-table
        tableTitle="Danh sách nhóm người dùng"
        [tableData]="data"
        [rows]="rows"
        [columns]="7"
        [first]="first"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [headerSchema]="tableHeaderSchema"
        dataKey="id"
        (onSort)="handleSortTable($event)"
        (onLazyLoad)="loadTable($event)"
    >
        <ng-template #buttons>
            <div class="flex gap-2">
                <app-button
                    label="Tải lên"
                    styleClass="p-button-outlined"
                    icon="ti ti-upload"
                    (onClick)="handleImport()"
                ></app-button>
                <app-button
                    iocVariant="create"
                    (onClick)="handleAdd()"
                ></app-button>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="border-top-none"></th>
                <th class="border-top-none">
                    <app-input
                        [autofocus]="true"
                        [value]="searchText"
                        maxLength="255"
                        placeholder="Tên nhóm người dùng"
                        (onChange)="handleInputChange($event)"
                        iconClass="ti ti-search"
                        class="w-full"
                    />
                </th>
                <th class="border-top-none">
                    <app-select
                        [selectedOption]="selectedParent"
                        [options]="parents"
                        [hasFilter]="true"
                        (onChange)="handleParentChange($event)"
                    ></app-select>
                </th>
                <th class="border-top-none">
                    <app-department-tree-select
                        [department]="selectedDepartment"
                        [showLabel]="false"
                        [hasFilter]="true"
                        (onChange)="handleDepartmentChange($event)"
                    ></app-department-tree-select>
                </th>
                <th class="border-top-none"></th>
                <th class="border-top-none">
                    <app-select
                        [options]="roles"
                        [selectedOption]="role"
                        (onChange)="handleRoleChange($event)"
                        [hasFilter]="true"
                    ></app-select>
                </th>
                <th class="border-top-none"></th>
            </tr>
        </ng-template>
        <ng-template #body let-data let-rowIndex="rowIndex">
            <tr>
                <td class="text-center">{{ rowIndex + 1 }}</td>
                <td>{{ data?.name }}</td>
                <td>{{ data?.parentName }}</td>
                <td>{{ data?.agencyName }}</td>
                <td class="text-right">{{ data?.memberCount }}</td>
                <td>{{ data?.roleName }}</td>
                <td>
                    <div
                        class="flex justify-content-center align-items-center gap-2"
                    >
                        <app-button
                            iocVariant="iview"
                            (onClick)="handleViewDetail(data)"
                        ></app-button>
                        <app-button
                            iocVariant="iupdate"
                            (onClick)="handleEdit(data)"
                        ></app-button>
                        <app-button
                            iocVariant="idelete"
                            (onClick)="handleConfirmDelete(data)"
                        ></app-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </app-lazy-table>
</div>
@if (!import) {
    <app-add-user-group
        [dialogData]="dialogData"
        [roles]="roles"
        [show]="showDialog"
        (onDone)="handleDone($event)"
    ></app-add-user-group>
} @else {
    <app-dialog [(visible)]="showDialog" (onHide)="resetDialog()">
        <ng-template #header>
            <span class="text-xl font-bold text-center w-full">
                Tải lên danh sách nhóm người dùng
            </span>
        </ng-template>
        <ng-template #content>
            <div class="grid">
                <div class="col-12">
                    <app-file
                        [autofocus]="true"
                        label="Tệp tin Excel"
                        accept=".xlsx, .xlsm"
                        [file]="file"
                        [error]="errorFile"
                        (onChange)="handleFileChange($event)"
                    ></app-file>
                </div>
            </div>
            <div class="flex justify-content-end">
                <app-button
                    label="Tải file Danh sách nhóm người dùng mẫu"
                    [link]="true"
                    icon="ti ti-download"
                    (onClick)="handleDownloadTemplate()"
                >
                </app-button>
            </div>
        </ng-template>
        <ng-template #footer>
            <div class="flex justify-content-center gap-2">
                <app-button
                    iocVariant="close"
                    (onClick)="showDialog = false"
                ></app-button>
                <app-button
                    label="Tải lên"
                    icon="ti ti-upload"
                    [loading]="dialogLoading"
                    (onClick)="handleImportUserGroup()"
                ></app-button>
            </div>
        </ng-template>
    </app-dialog>
}
