.opened {
    background: #fff !important;
}

.manual-input-wrapper {
    color: #000 !important;
}

.opened {
    .manual-input-wrapper {
        .g-input {
            input {
                background: #fff !important;
                color: #000 !important;
            }
        }
    }
}
