/* General */
$scale: 14px; /* main font size */
$borderRadius: 6px; /* border radius of layout element e.g. card, sidebar */
$transitionDuration: 0.2s; /* transition duration of layout elements e.g. sidebar, overlay menus */

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1900px;
$breakpoints: (
    "xs": $xs,
    "sm": $sm,
    "md": $md,
    "lg": $lg,
    "xl": $xl,
    "xxl": $xxl,
    "xxxl": $xxxl,
);
@import "primeflex/primeflex.scss";
