<app-card-layout styleClass="border-none p-1">
    <ng-template #body>
        <form [formGroup]="confirmSigningForm">
            <div class="grid">
                <div class="xs:col-12 md:col-12 py-0" [innerHTML]="title"></div>
                <div class="xs:col-12 md:col-12">
                    <app-reactive-input
                        [label]="label"
                        [required]="true"
                        [error]="
                            submitted && getErrorMsg(confirmSigningForm, 'otp')
                        "
                        [placeholder]="
                            signResult.authMode === 0
                                ? 'Nhập mật khẩu'
                                : 'Nhập mã OTP'
                        "
                        [control]="getControl(confirmSigningForm, 'otp')"
                    ></app-reactive-input>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <div class="flex justify-content-center mt-4 gap-2">
            <app-button
                [disabled]="isLoading"
                icon="pi pi-times"
                label="Hủy"
                styleClass="p-button-outlined"
                (onClick)="handleClose()"
            ></app-button>
            <app-button
                [loading]="isLoading"
                icon="pi pi-check"
                label="Xác nhận"
                (onClick)="handleConfirm()"
            ></app-button>
        </div>
    </ng-template>
</app-card-layout>
