<app-dialog [(visible)]="show" (onHide)="resetDialog()">
    <ng-template #header>
        <span class="text-xl font-bold text-center w-full">
            Thêm mới nhóm người dùng
        </span>
    </ng-template>
    <ng-template #content>
        <div class="grid">
            <div class="col-12 md:col-6">
                <app-input
                    [autoTrim]="true"
                    [autofocus]="true"
                    label="Tên nhóm người dùng"
                    [value]="groupName"
                    maxLength="255"
                    [required]="true"
                    [error]="errorGroupName"
                    (onChange)="handleDataChange($event, 'groupName')"
                ></app-input>
            </div>

            <div class="col-12 md:col-6">
                <app-department-tree-select
                    [(department)]="department"
                    [selectedDepartmentId]="departmentId"
                    [required]="true"
                    [errorDepartment]="errorDepartment"
                    (onChange)="handleDepartmentChange($event)"
                ></app-department-tree-select>
            </div>
            <div class="col-12 md:col-6">
                <app-tree-select
                    label="Nhóm cha"
                    [selectedOption]="parentGroup"
                    [options]="parentGroups"
                    placeholder="Chọn nhóm cha"
                    [disabled]="!department"
                    caption="Vui lòng chọn phòng ban trước"
                    [showCaption]="!department"
                    (onChange)="handleDataChange($event, 'parentGroup')"
                ></app-tree-select>
            </div>
            <div class="col-12 md:col-6">
                <app-select
                    label="Vai trò"
                    [options]="roles"
                    [selectedOption]="role"
                    [required]="true"
                    [error]="errorRole"
                    (onChange)="handleDataChange($event, 'role')"
                    placeholder="Chọn vai trò"
                ></app-select>
            </div>
            <div class="col-12">
                <app-text-area
                    label="Mô tả"
                    [(ngModel)]="description"
                    [rows]="3"
                    maxLength="1000"
                ></app-text-area>
            </div>
        </div>
    </ng-template>
    <ng-template #footer>
        <div class="flex justify-content-center gap-2">
            <app-button
                iocVariant="close"
                (onClick)="show = false"
            ></app-button>
            <app-button
                iocVariant="create"
                (onClick)="handleUserGroupForm()"
                [loading]="dialogLoading"
            ></app-button>
        </div>
    </ng-template>
</app-dialog>
