<app-label
    [inputId]="inputId"
    [label]="label"
    [required]="required"
    [error]="internalError.length > 0 ? internalError : error"
>
    <button
        pAutoFocus
        [autofocus]="autofocus"
        #buttonFileInput
        class="p-inputtext cursor-pointer border-dashed pt-3 pb-3"
        [ngClass]="{ 'ng-invalid ng-dirty': error || internalError }"
        (click)="fileInput.click()"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="handleChange($event, 'DROP')"
    >
        <div class="relative">
            <div class="text-lg text-center">
                Kéo thả file hoặc <b class="text-blue-500">Chọn tệp</b> để tải
                lên
            </div>
            <div class="text-center mt-2">
                (Cho phép dung lượng tối đa {{ size }}MB. Định dạng
                {{ accept }})
            </div>
            <app-loading [loading]="loading"></app-loading>
        </div>
    </button>
    <input
        #fileInput
        type="file"
        [id]="inputId"
        [accept]="accept"
        [required]="required"
        (input)="handleChange($event)"
        [hidden]="true"
        [multiple]="multiple"
    />
</app-label>
@if (
    (!multiple && file && file.name && file.name.length > 0) ||
    (!multiple && file && file.fileName && file.fileName.length > 0)
) {
    <div
        class="flex justify-content-between align-items-center pt-1 pb-1 custom-file"
    >
        <div class="custom-file-name">{{ file.name ?? file.fileName }}</div>
        <app-button
            styleClass="p-button-sm p-button-rounded p-button-text text-red-700"
            icon="ti ti-trash"
            (onClick)="handleDeleteFile()"
        ></app-button>
    </div>
}

@if (multiple && files.length > 0) {
    @for (file of files; track file) {
        <div
            class="flex justify-content-between align-items-center pt-1 pb-1 custom-file"
        >
            <div class="custom-file-name">
                {{ file.name ?? file.fileName }}
            </div>
            <app-button
                styleClass="p-button-sm p-button-rounded p-button-text text-red-700"
                icon="ti ti-trash"
                (onClick)="handleDeleteFile(file)"
            ></app-button>
        </div>
    }
}
