<app-lazy-table
    tableTitle=""
    [tableData]="data"
    [rows]="rows"
    [columns]="7"
    [first]="first"
    [totalRecords]="totalRecords"
    [loading]="loading"
    dataKey="id"
    (onLazyLoad)="loadTable($event)"
>
    @if (!viewOnly) {
        <ng-template #buttons>
            <app-button
                [autofocus]="true"
                label="Thêm nhóm"
                icon="ti ti-plus"
                (onClick)="handleAddToGroup()"
            ></app-button>
        </ng-template>
    }
    <ng-template #header>
        <tr>
            <th style="min-width: 3rem" class="text-center">STT</th>
            <th style="min-width: 12rem">Tên nhóm người dùng</th>
            @if (!viewOnly) {
                <th style="min-width: 3rem" class="text-center">Thao tác</th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-data let-rowIndex="rowIndex">
        <tr>
            <td class="text-center">{{ rowIndex + 1 }}</td>
            <td>{{ data.name }}</td>
            @if (!viewOnly) {
                <td>
                    <div
                        class="flex gap-2 justify-content-center align-items-center"
                    >
                        <app-button
                            iocVariant="idelete"
                            (onClick)="handleConfirmDelete(data)"
                        ></app-button>
                    </div>
                </td>
            }
        </tr>
    </ng-template>
</app-lazy-table>
@if (!viewOnly) {
    <app-dialog [(visible)]="showDialog" (onHide)="resetDialog()">
        <ng-template #header>
            <span class="text-xl font-bold text-center w-full">
                Thêm người dùng vào nhóm
            </span>
        </ng-template>
        <ng-template #content>
            <div class="grid">
                <div class="col-12">
                    <app-multi-select
                        [autofocus]="true"
                        label="Nhóm người dùng"
                        [options]="userGroups"
                        [selectedOption]="selectedGroups"
                        [required]="true"
                        optionLabel="name"
                        (onChange)="handleSelectedGroupsChange($event)"
                        [error]="errorSelectedGroups"
                        placeholder="Chọn nhóm người dùng"
                    >
                    </app-multi-select>
                </div>
            </div>
        </ng-template>
        <ng-template #footer>
            <div class="flex justify-content-center gap-2">
                <app-button iocVariant="close" (onClick)="showDialog = false">
                </app-button>
                <app-button
                    [loading]="dialogLoading"
                    label="Thêm"
                    (onClick)="handleDialogButtonClick()"
                ></app-button>
            </div>
        </ng-template>
    </app-dialog>
}
<div class="flex justify-content-center align-items-center gap-2 mt-4">
    <app-button
        iocVariant="close"
        [autofocus]="viewOnly"
        (onClick)="handleClose()"
    ></app-button>
</div>
