<app-label
    [label]="label"
    [required]="required"
    [error]="error"
    [caption]="caption"
    [showCaption]="showCaption"
>
    <p-password
        pAutoFocus
        [autofocus]="autofocus"
        [feedback]="false"
        styleClass="w-full"
        inputStyleClass="w-full"
        [maxLength]="maxLength"
        [(ngModel)]="value"
        [toggleMask]="toggleMask"
        [showClear]="showClear && value?.length > 0"
        [ngClass]="{ 'ng-invalid ng-dirty': error }"
    ></p-password>
</app-label>
